<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/RecoveryPassword.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <script src="../js/ckeditor/ckeditor.js"></script>
    <title>AboutChangeDescription</title>
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id="description">

			<h1>Change about description</h1>
			
			<form method="POST">
		    
		    <div>
			    <textarea th:text="${description}" name="description" id="editor1" rows="10" cols="80"  required maxlength="1000">
			    </textarea>
			            <script>
			                // Replace the <textarea id="editor1"> with a CKEditor
			                // instance, using default configuration.
			                CKEDITOR.replace( 'editor1');
			            </script>					
			         </div>

		    <div>
		   		<input type="submit" value="Post your description"/>
		   	</div>
		   	
		   	</form>

		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>