<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/RecoveryPassword.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <title>AboutAdmin</title>
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnectedAdmin('about')}"></header>

		<section id="presentation">
		
			<h1>Who are we?</h1>
			
			<div id="ajout_ami">
				<a class="boutons_ami" href="aboutChangeDescription">Change description</a>
			</div>

			<p th:text="${AboutContenu}"></p>
		
		</section>	


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>