<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="css/accueil.css">
     
	 <title>national 2 carabiniers de billy-montigny</title>
</head>
<body>

    <header th:replace="~{fragments :: header}"></header>
<div id="menu"> 
     <nav th:replace="~{fragments :: nav}"></nav>
</div>

     <div id="contenu">
     	
     	<h1>L'equipe de national 2</h1>

             <figure>
                <img src="img/n2.jpg" alt="n2" >
                <figcaption>Equipe national 2 saison 2016-2017
                </figcaption>

            </figure>

            <article id="l'equipe"> 
            <p>Ligne du haut : Julien BAILLIEZ - Vincent LETHIEN - Blaise HAIDON - Ali NAKAA (dir.) - Jerome MUSILLI - Antonin GERARD</p>
            <p>Ligne du milieu : Yannick COLLOT (entr.) - Max CAMBAY - Benoit ALLIOT - Romain HABASQUE - Yann KOSZELNIK - Martin FOURCADE - Yannick POUILLE - Remi CALLIGARO (dir.)</p>
            <p>Ligne du bas : Clement RICHARD - Habib BENALLAL - Jeffrey CAILLAUX - Yani VANHUYS - Thierry SZKARADEK (pdt.) - Sebastien VALLECANERAS - Julien TRANCHANT - Victor RUNGETTE - Thibaut DELPONT</p>

          </article>
     <footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>