<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
   
    <meta name="viewport" content="height=device-height"/>
    <title>Add a friend</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id="liste_utilisateurs">

			<h2>Add a friend to your network</h2>
			
		<form method="post">
		    <input type="text/plain" name="friendSearch" id="email" class="alignement" placeholder="Enter the first name or the last name of your friend" required >

		   	<input type="submit" id="submit" class="alignement" value="Submit">
		</form>
			
		   	<div id="friendFound">
		   		<h3>Friend(s) Found :</h3>
		   	</div>
		   	
		   	<table id="userList">
				<tr>
					<th>Picture</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>add</th>
				</tr>
				<tr th:each="adduser : ${addusers}" >
					<td class="userPicture"  ><img th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></td>
					<td>[[${adduser.nom}]]</td>
					<td>[[${adduser.prenom}]]</td>
					<td><a class="alignement" th:href="'addforFriend?idusers='+${adduser.idusers}" ><img id="suppressionAdmin" th:src ="@{/Images/icone_ajout.jpeg}" alt="DeletePower"></a></td>
				</tr>

			</table>		   	

		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>