<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <title>Add Performance</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>
		
		<section id ="ajout_performance">
			<h2>Add a performance</h2>

			<form action="" method="POST" id="formulaire_performance">

			<div>
		    	<h3>Date</h3>
		   		<input type="date" id="date_performance" name ="date_performance" class="donnees" required />
		   	</div>

		   	<div>
		    	<h3>Hour</h3>
		   		<input type="time" id="hour" name="hour" class="donnees" required />
		   	</div>

		    <div>
		    	<h3>Duration</h3>
		    	<input type="number" id="duration" name="duration" class="donnees" placeholder="Please enter the duration in minutes" required />
		    </div>

		    <div>
		    	<h3>Distance</h3>
		    	<input type="number" id="distance" name="distance" class="donnees" placeholder="Please enter the distance in miles" required />
		    </div>

		    <div>
		    	<h3>Average</h3>
		    	<input type="number" id="average" name="average" class="donnees" placeholder="Please enter your average in Kph" required />
		    </div>

		    <div>
		    	<h3>Calories</h3>
		    	<input type="number" id="calories" name="calories" class="donnees" placeholder="Please enter the calories in kcal" required />
		    </div>
		    
		    
			<div id="boutonValidation">
		   		<input type="submit" id="validation" value="Submit your performance" />
		   	</div>
		</form>
		
		   	
		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>