<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
 	$(function() {
	    $( "#datepicker" ).datepicker({
	    	changeMonth: true,
	        showButtonPanel: true,
	        yearRange: "-1:+0",
	        dateFormat: 'yy-mm-dd',
	        maxDate : "dateToday",
	    });
	  } );
	</script>
    <title>Add Performance</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>
		
		<section id ="ajout_performance">
			<h2>Add a performance</h2>

			<form action="" method="POST" id="formulaire_performance">

			<div>
		    	<h3>Date</h3>
		   		<input type="text" id="datepicker" name ="date_performance" class="donnees" required />
		   	</div>

		   	<div>
		    	<h3>Hour</h3>
		   		<input type="time" id="hour" name="hour" class="donnees" required />
		   	</div>

		    <div>
		    	<h3>Duration (in minutes)</h3>
		    	<input type="number" id="duration" name="duration" class="donnees" placeholder="Please enter the duration in minutes" required />
		    </div>

		    <div>
		    	<h3>Distance (in miles)</h3>
		    	<input type="number" id="distance" name="distance" class="donnees" placeholder="Please enter the distance in miles" required />
		    </div>

		    <div>
		    	<h3>Average</h3>
		    	<input type="number" id="average" name="average" class="donnees" placeholder="Please enter your average in Kph" required />
		    </div>

		    <div>
		    	<h3>Calories</h3>
		    	<input type="number" id="calories" name="calories" class="donnees" placeholder="Please enter the calories in kcal" required />
		    </div>
		    
		    
			<div id="boutonValidation">
		   		<input type="submit" id="validation" value="Submit your performance" />
		   	</div>
		</form>
		
		   	
		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>