<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/stylesWeJog.css"/>
    <title>Add An Article</title>
    
   </head>

	<body>

		<header>
			<a id="logo" href="Go_Facebook" class="alignement"><img src ="Images/Logo.png" alt="Logo WeJog"></a>
			
			<div id ="informations" class="alignement">
				<a id = "photoProfil" href="Go_Profil" class="alignement"><img src ="Images/PhotoProfil.jpg" alt="Photo de profil"></a>
				<h4 class="alignement">Mr. XX</h4>
				<a id = "logo_deconnexion" class="alignement" href="Exit"><img src ="Images/Logout.png" alt="Deconnexion"></a>
			</div>

		<nav>
			<ul>
				<li class="alignement"><a href="Home.html">Home</a></li>
				<li class="alignement"><a href="About.html">About</a></li>
				<li class="alignement"><a href="News.html">News</a></li>
				<input type="text/plain" name="search" id="search" class="alignement" placeholder="Search...">
				<input type="submit" id="boutonSearch" class="alignement" value="Go">
			</ul>
		</nav>

		</header>

		<section id ="ajout_performance">
			<h2>Add an Article</h2>

			<form action="" method="POST" id="formulaire_performance">

			<div>
		    	<h3>Link of your source</h3>
		   		<input type="text/plain" id="lien_source" name ="lien_source" class="donnees" placeholder="Please enter the link of your source" required />
		   	</div>

			<div>
		    	<h3>Your article's title</h3>
		   		<input type="text/plain" id="titre_article" name ="titre_article" class="donnees" placeholder="Please enter your article's title" required />
		   	</div>

			<div>
		    	<h3>Synopsis</h3>
		   		<input type="text/plain" id="synopsis" name ="synopsis" class="donnees" placeholder="Please write the synopsis of your article" required />
		   	</div>

		   	<div>
		   		<input type="submit" id="validation" value="Post your article" />
		   	</div>
		    
		</form>
		</section>


		<footer>
			<a id="facebook" href="Go_Facebook" class="alignement"><img src ="Images/LogoFacebook.png" alt="Logo Facebook"></a>
			<a href="Go_Twitter" class="alignement"><img src ="Images/LogoTwitter.png" alt="Logo Twitter"></a>
			<a href="Go_Instagram" class="alignement"><img src ="Images/LogoInstagram.jpg" alt="Logo Instagram"></a>
			<a id="Contact_Us" href="Contact_Us" class="alignement">Contact Us</a>
		</footer>

	</body>

</html>