<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <script type="text/javascript" th:src="@{/js/ajouterEvenement.js}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
    <script>
 	$(function() {
	    $( "#datepicker" ).datepicker({
	        dateFormat: 'yy-mm-dd',
	        minDate : "dateToday",
	    });	    
 	} );
	</script>
    <title>Add An Event</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id ="ajout_performance">
			<h2>Add an Event</h2>

			<form action="addevent" method="POST" id="formulaire_performance">

			<div>
		    	<h3>Date</h3>
		   		<input type="text" id="datepicker" name ="date_performance" class="donnees" required />
		   	</div>
		   	
		   	<div>
		    	<h3 class="alignement">Time</h3>
		    	<select name = "hour"  id="hour" class="alignement">
		    		<option value = ""></option>
		    		<option value = "01">01</option>
		    		<option value = "02">02</option>
		    		<option value = "03">03</option>
					<option value = "04">04</option>
					<option value = "05">05</option>
					<option value = "06">06</option>
					<option value = "07">07</option>
					<option value = "08">08</option>
					<option value = "09">09</option>
					<option value = "10">10</option>
					<option value = "11">11</option>
					<option value = "12">12</option>		
		    	</select>
		    	<h3 id="hourLetter" class="alignement">H</h3>
		    	<select name = "minutes"  id="minutes" class="alignement">
		    		<option value = ""></option>
		    		<option value = "00">00</option>
		    		<option value = "05">05</option>
		    		<option value = "10">10</option>
					<option value = "15">15</option>
					<option value = "20">20</option>
					<option value = "25">25</option>
					<option value = "30">30</option>
					<option value = "35">35</option>
					<option value = "40">40</option>
					<option value = "45">45</option>
					<option value = "50">50</option>
					<option value = "55">55</option>		
		    	</select>
		    	<div id="sex" class="alignement">
		   			<input type="radio" name="reponse" value="AM" />AM
		   			<input type="radio" name="reponse" value="PM" />PM
		   		</div>
			</div>

		    <div>
		    	<h3>Address</h3>
		    	<input type="text" id="adress" name="adress" placeholder="Please enter the adress of your performance" class="donnees" required />
		    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69327234186!2d-0.3817812833279029!3d51.52830797353152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C+Royaume-Uni!5e0!3m2!1sfr!2sfr!4v1485516956677" frameborder="0" style="border:0"></iframe>
		    </div>

		    <div>
		    	<h3>Duration</h3>
		    	<input type="number" id="duration" name="duration" class="donnees" placeholder="Please enter the duration in minutes" required />
		    </div>

		    <div>
		    	<h3>Distance of the route</h3>
		    	<input type="number" id="distance" name="distance" class="donnees" placeholder="Please enter the distance in miles" required />
		    </div>
		    
		    <div id="boutonValidation">
		   		<input type="submit" id="validation" value="Post your event" onClick='return validEvent(this.form.reponse);'/>
		   	</div>
		    
		</form>
		
			
		   	
		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>