<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stylesWeJog.css"/>
    <title>Add An Event</title>
    
   </head>

	<body>

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id ="ajout_performance">
			<h2>Add an Event</h2>

			<form action="" method="POST" id="formulaire_performance">

			<div>
		    	<h3>Date</h3>
		   		<input type="date" id="date_performance" name ="date_performance" class="donnees" required />
		   	</div>

		   	<div>
		    	<h3>Hour</h3>
		   		<input type="time" id="hour" name="hour" class="donnees" required />
		   	</div>

		    <div>
		    	<h3>Adress</h3>
		    	<input type="text/plain" id="adress" name="adress" placeholder="Please enter the adress of your performance" class="donnees" required />
		    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69327234186!2d-0.3817812833279029!3d51.52830797353152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C+Royaume-Uni!5e0!3m2!1sfr!2sfr!4v1485516956677" frameborder="0" style="border:0"></iframe>
		    </div>

		    <div>
		    	<h3>Duration</h3>
		    	<input type="number" id="duration" name="duration" class="donnees" placeholder="Please enter the duration in minutes" required />
		    </div>

		    <div>
		    	<h3>Distance</h3>
		    	<input type="number" id="distance" name="distance" class="donnees" placeholder="Please enter the distance in miles" required />
		    </div>

		   <div>
		   		<input type="submit" id="validation" value="Post your event" />
		   	</div>
		    
		</form>
		</section>


		<footer th:replace="~{fragments :: footer}"></footer>

	</body>

</html>