<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
   
    <meta name="viewport" content="height=device-height"/>
    <title>Add a friend</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id="liste_utilisateurs">

			<h2>Asking to be friend</h2>
		
		   	<table id="userList">
				<tr>
					<th>Picture</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>add</th>
				</tr>
				<tr th:each="asking : ${askings}" >
					<td class="userPicture"  ><img th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></td>
					<td>[[${asking.nom}]]</td>
					<td>[[${asking.prenom}]]</td>
					<td><a class="alignement" th:href="'acceptedFriend?idusers='+${asking.idusers}">
					<img id="suppressionAdmin" th:src ="@{/Images/icone_ajout.jpeg}"  alt="DeletePower"></a>
						<a class="alignement"  th:href="'declinetobefriend?idusers='+${asking.idusers}">
						<img id="suppressionAdmin" th:src ="@{/Images/icone_suppression.png}"  alt="DeletePower"></a>
					</td>
				</tr>

			</table>		   	

		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>