<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Change password</title>
   </head>

	<body>

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id="sectionCreationCompte">

			<form action="" method="POST" id="changePassword">

			<h1>Change your password</h1>

			<div>
		    	<label for ="mail">Email</label>
		    	<input type="email" name="mail" id="mail" placeholder="Please enter your email for verification" required >
		    </div>

			<div>
				<label for ="oldPassword">Old Password</label>
		    	<input type="oldPassword" id="oldPassword" name="oldPassword" placeholder="Please enter your old password" required />
		    </div>

		    <div>
				<label for ="newPassword">New Password</label>
		    	<input type="newPassword" id="newPassword" name="newPassword" placeholder="Please enter your new password" required />
		    </div>

		    <div>
				<label for ="newPasswordConfirmation">New Password Confirmation</label>
		    	<input type="newPasswordConfirmation" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="Please confirm your new password" required />
		    </div>

		    <div id="changePasswordInput">
		   		<input type="submit" value="Change password" />
		   	</div>
		    
			</form>
		</section>

		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>