<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" th:src="@{/js/changePassword.js}"></script>
    <title>Change password</title>
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id="sectionCreationCompte">

			<form action="" method="POST" id="changePassword">

			<h1>Change your password</h1>

			<div>
		    	<label for ="email">Email</label>
		    	<input type="email" name="email" id="mail" placeholder="Please enter your email" required >
		    </div>

			<div>
				<label for ="oldPassword">Actual Password</label>
		    	<input type="password" id="oldPassword" name="oldPassword" placeholder="Please enter your old password" required />
		    </div>

		    <div>
				<label for ="newPassword">New Password</label>
		    	<input type="password" id="newPassword" name="newPassword" placeholder="Please enter your new password" required />
		    </div>

		    <div>
				<label for ="newPasswordConfirmation">New Password Confirmation</label>
		    	<input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="Please confirm your new password" required />
		    </div>

		    <div id="changePasswordInput">
		   		<input type="submit" value="Change password" onClick="return isValidForm()" />
		   	</div>
		    
			</form>
		</section>

		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>