<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stylesWeJog.css"/>
    <link rel="stylesheet" type="text/css" href="css/RecoveryPassword.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive-500.css"/>
    <meta name="viewport" content="height=device-height"/>
    <title>Password Changed</title>
    
   </head>

	<body>

		<header th:replace="~{fragments :: headerNotConnected}"></header>

		<section class="recovery">
			<h1>Your password has been changed.</h1>
			<p>You have received an e-mail with your new informations of connection.</p>
			<a id="back_home" href="home">Back Home</a>
		</section>

		<footer th:replace="~{fragments :: footer}"></footer>
		
	</body>

</html>