<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <title>Contact Us</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
   </head>

	<body>

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id ="ajout_performance">
			<h2>Contact Us</h2>

			<form action="" method="POST" id="formulaire_performance">

			<div>
		    	<h3>Your email</h3>
		   		<input type="email" id="email_contact" name ="email_contact" class="donnees" placeholder="Please enter your email" required />
		   	</div>

			<div>
		    	<h3>Your name</h3>
		   		<input type="text/plain" id="name" name ="name" class="donnees" placeholder="Please enter your name" required />
		   	</div>

			<div>
		    	<h3>Your message</h3>
		   		<textarea type="text/plain" id="message" name ="message" class="donnees" placeholder="Please write your message" maxlength="140" required /></textarea>
		   	</div>

		   	<div class="g-recaptcha" data-sitekey="6Lf3GxcUAAAAAGkMnn-EfWO_RYssbBk4KrtKj3fg"></div>

		   	<div>
		   		<input type="submit" id="validation" value="Send your message" />
		   	</div>
		    
		</form>
		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>