<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/stylesWeJog.css" />
<link rel="stylesheet" type="text/css" href="css/responsive-500.css" />

<meta name="viewport" content="height=device-height" />

<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src="js/creationCompte.js"></script>

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
 $(function() {
	    $( "#datepicker" ).datepicker({
	    	changeMonth: true,
	        changeYear: true,
	        showButtonPanel: true,
	        yearRange: "-100:+0",
	        dateFormat: 'yy-mm-dd',
	        maxDate : "dateToday",
	    });
	  } );
 </script>


<title>Account Creation</title>
</head>

<body>


	<header th:replace="~{fragments :: headerNotConnected}"></header>

	<section id="sectionCreationCompte">

		<form action="" method="POST" id="creationCompte">

			<h2>Create an account</h2>

			<div id="sex">
				<label for="sex">Sex</label>
				<div id="boutonsSex">
					<div class="sexAlign">
					<input type="radio" name="reponse" value="Male" />Male
					</div>
					<div class="sexAlign">
					<input type="radio" name="reponse" value="Female" />Female
					</div>
				</div>
			</div>

			<div>
				<label for="name">First Name</label>
				<input type="text/plain" id="name" name="name" placeholder="Please enter your name" onBlur="validFirstName()" required />
				<div class="form-display">
					<div id="check_name1" class="check1">&#10004;</div>
					<div id="check_name2" class="check2">X</div>
				</div>
			</div>

			<div>
				<label for="lastName">Last Name</label>
				<input type="text/plain" id="lastName" name="lastName" placeholder="Please enter your last name" 
					onBlur="validLastName()" required />
				<div class="form-display">
					<div id="check_lastName1" class="check1">&#10004;</div>
					<div id="check_lastName2" class="check2">X</div>
				</div>
			</div>

			<div>
				<label for="birth">Birth Date</label> <input type="text" id="datepicker" name="birth" required />
				<div class="form-display">
					<div id="check_date1" class="check1">&#10004;</div>
					<div id="check_date2" class="check2">X</div>
				</div>
			</div>

			<div>
				<label for="mail">Email</label>
				<input type="email" name="mail"	id="mail" placeholder="Enter your email" onFocus="validDate()" onBlur="validEmail()" required>
				<div class="form-display">
					<div id="check_email1" class="check1">&#10004;</div>
					<div id="check_email2" class="check2">X</div>
				</div>
			</div>

			<div>
				<label for="ConfirmMail">Confirm Email</label>
				<input type="email"	name="ConfirmMail" id="confirmMail" onBlur="validConfirmEmail()" placeholder="Confirm your email" required>
				<div class="form-display">
					<div id="check_confirmMail1" class="check1">&#10004;</div>
					<div id="check_confirmMail2" class="check2">X</div>
				</div>
				<div id="errorConfirmMail">
					<p class="error">Mails address are not the same</p>
				</div>
			</div>

			<div>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" onBlur="validPassword()" placeholder="Please enter your password" required />
				<div class="form-display">
					<div id="check_password1" class="check1">&#10004;</div>
					<div id="check_password2" class="check2">X</div>
				</div>
			</div>

			<div>
				<label for="confirmPassword">Password Confirmation</label>
				<input type="password" id="confirmPassword" name="confirmPassword" onBlur="validConfirmPassword()"
					placeholder="Please confirm your password" required />
				<div class="form-display">
					<div id="check_confirmPassword1" class="check1">&#10004;</div>
					<div id="check_confirmPassword2" class="check2">X</div>
				</div>
				<div id="errorConfirmPassword">
				<p class="error">You have entered two different passwords</p>
				</div>
			</div>

			<div class="g-recaptcha"
				data-sitekey="6Lf3GxcUAAAAAGkMnn-EfWO_RYssbBk4KrtKj3fg"></div>

			<div id="register">
				<input type="submit" value="Register"
					onClick='return testerRadio(this.form.reponse);' />
			</div>

		</form>
	</section>

	<footer th:replace="~{fragments :: footer(contact)}"></footer>

</body>

</html>