<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
     <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profil.css}"/>
    <script type="text/javascript" th:src="@{/js/event.js}"></script>
    <meta name="viewport" content="height=device-height"/>
    <title>Event</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id ="ajout_performance">
			<h2>Event</h2>

			<div>
				<div class="manageEvent">
					<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" th:src="'https://maps.google.com/maps?q='+${event.latitude}+','+${event.longitude}+'&hl=es;z=14&amp;output=embed'" ></iframe>
				</div>

				<div id="detailsEvent" class="manageEvent">
						<h3 class="alignement">Organized by : </h3>
						<img id="littlePicture" th:src ="${event.ManagerPicturePath}" alt="Photo de profil" class="alignement">
						<p class="alignement" th:text="${event.managerFirstName}"></p>
						<h3 th:text="'Date : '+${event.date}"></h3>
						<h3 th:text="'Time : '+${event.timeAsString}+' '+${event.momentOfTheDay}"></h3>
						<h3 th:text="'Place : '+${event.place} "></h3>
						<p th:text="'Duration : '+${event.duration} "></p>
						<p th:text="'Distance of the route : '+${event.distance} "></p>
						<p th:text="'Number of participant : '+${countUsersSubscribed} "></p>
						<p th:text="'Details : '+${event.details} "></p>
						<div th:if="${administrator}=='yes'" class="boutonEventManagement">
							<a class="boutons_ami" th:href="'updateEvent?idEvent='+${event.idEvent}">Update the event</a>
							<a class="boutons_ami" onClick="deleteEvent('+${event.idEvent}+');return false;"
							th:href="'deleteEvent?idEvent='+${event.idEvent}">Delete the Event</a>
						</div>
				</div>
				
				</div>
				
				<div id="commentList">
					<h3 id="commentTitle" th:text="${commentTitle}"></h3>
					
					<div th:if="${isThereComments}=='yes'">
					<div class="alignButton">
						<button id="buttonShowComments" class="buttonShowAndHide" onclick="showComments()">Show previous commentaries</button>
					</div>
					
					<div id="oldComments">
						<div class="comment" th:each="comment : ${commentList}">
							<div class="informations">
								<img id="littlePicture" th:src ="${comment.ManagerPicturePath}" alt="Photo de profil" class="alignement">
								<h4 id="commentManagerName" class="alignement" th:text="${comment.managerFirstName}"></h4>
								<h4 id="commentPostDateTime">Post at : [[${comment.postDateTime}]]</h4>
							</div>

							<div class = "commentContent">
								<p th:text="${comment.content}"><p>
							</div>
						</div>
					</div>
					
					<div class="alignButton">
						<button id="buttonHideComments" class="buttonShowAndHide" onclick="hideComments()">Hide previous commentaries</button>
					</div>
					
					</div>
					
					<div>
						<div class="comment" th:each="recentComment : ${recentCommentsList}">
							<div class="informations">
								<img id="littlePicture" th:src ="${recentComment.ManagerPicturePath}" alt="Photo de profil" class="alignement">
								<h4 id="commentManagerName" class="alignement" th:text="${recentComment.managerFirstName}"></h4>
								<h4 id="commentPostDateTime">Post at : [[${recentComment.postDateTime}]]</h4>
							</div>

							<div class = "commentContent">
								<p th:text="${recentComment.content}"><p>
							</div>
						</div>
					</div>
										
					<form method="POST" id="addComment">
						<div id="newCommentary">
	    					<h3>Add a commentary</h3>
		    				<textarea id="newCommentaryContent" name="newCommentaryContent" maxlength="500" placeholder="Write your comment here (500 carac max)"></textarea>
		    			</div>
		    		
		    			<div id="boutonValidation">
		   					<input type="submit" id="commentValidation" value="Post your comment" onClick="return validComment();"/>
		   				</div>		
		   			</form>	
				</div>

		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>