<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stylesWeJog.css"/>
    <title>Home</title>
    
   </head>

	<body>

		<header>
			<a id="logo" href="home.html" class="alignement"><img src ="Images/Logo.png" alt="Logo WeJog"></a>
			
			<div id ="informations" class="alignement">
				<a id = "photoProfil" href="profil.html" class="alignement"><img src ="Images/PhotoProfil.jpg" alt="Photo de profil"></a>
				<h4 class="alignement">Mr. XX</h4>
				<a id = "logo_deconnexion" class="alignement" href="Exit"><img src ="Images/Logout.png" alt="Deconnexion"></a>
			</div>

		<nav>
			<ul>
				<li class="alignement" id="active"><a href="Home.html">Home</a></li>
				<li class="alignement"><a href="About.html">About</a></li>
				<li class="alignement"><a href="News.html">News</a></li>
				<input type="text/plain" name="search" id="search" class="alignement" placeholder="Search...">
				<input type="submit" id="boutonSearch" class="alignement" value="Go">
			</ul>
		</nav>

		</header>

		<section>
			<h2>Actuality</h2>

			<div id="menu_home">
				<div class="liens"><a class="boutons_home" href="ajouterEvenement.html"><img src ="Images/icone_ajout.jpeg" alt="icone_ajout">Add a new event</a></div>
				<div class="liens"><a class="boutons_home" href="ajouterArticle.html"><img src ="Images/icone_ajout.jpeg" alt="icone_ajout">Add a new article</a></div>
				<div class="liens"><a class="boutons_home" href="ajouterPerformance.html"><img src ="Images/icone_ajout.jpeg" alt="icone_ajout">Share your performance</a></div>
			</div>

			<div class="actuality">
				<table>
					<tr>
						<td class="image_actuality"><img src ="Images/PhotoProfil.jpg" alt="Photo de profil"></a></td>
						<td>
							<h1>Santé magazine</h1>
							<h1>Course à pied, running</h1>
							<h3>Les bonnes raisons pour s'y mettre</h3>
							<p>Synopsis : </p>
							<p>Un esprit sain dans un corps sain.</p>
						</td>
					</tr>

				</table>
			</div>

			<div class="actuality">
				<table>
					<tr>
						<td class="image_actuality"><img src ="Images/PhotoProfil.jpg" alt="Photo de profil"></a></td>
						<td>
							<h1>Active</h1>
							<h1>6 Benefits of Running</h1>
							<p>Synopsis : </p>
							<p>Les 6 arguments pour vous convaincre de courir.</p>
						</td>
					</tr>

				</table>
			</div>

		</section>

		<footer>
			<a id="facebook" href="Go_Facebook" class="alignement"><img src ="Images/LogoFacebook.png" alt="Logo Facebook"></a>
			<a href="Go_Twitter" class="alignement"><img src ="Images/LogoTwitter.png" alt="Logo Twitter"></a>
			<a href="Go_Instagram" class="alignement"><img src ="Images/LogoInstagram.jpg" alt="Logo Instagram"></a>
			<a id="Contact_Us" href="Contact_Us" class="alignement">Contact Us</a>
		</footer>

	</body>

</html>