<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <title>HomeAdmin</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnectedAdmin('home')}"></header>

		<section>
			<h2>Actuality</h2>

			<div id="menu_home">
				<div class="liens"><a class="boutons_home" href="addevent"><img th:src ="@{/Images/icone_ajout.jpeg}" alt="icone_ajout">Add a new event</a></div>
				<div class="liens"><a class="boutons_home" href="addarticle"><img th:src ="@{/Images/icone_ajout.jpeg}" alt="icone_ajout">Add a new article</a></div>
				<div class="liens"><a class="boutons_home" href="addperformance"><img th:src ="@{/Images/icone_ajout.jpeg}" alt="icone_ajout">Share your performance</a></div>
			</div>
			
			<div>
				<h2 th:text="${eventTitle}"></h2>
				<div class="actuality">
					<div class="event" th:each="event : ${events}">
						<img id="littlePicture" th:src ="${event.managerPicturePath}" alt="Photo de profil" class="alignement">
						<h1 class="alignement" th:text="${event.managerFirstName}"></h1>
						<h1>Event</h1>
						<h3 th:text="'Date: '+${event.date}"></h3>
						<h3 th:text="'Time: '+${event.timeAsString}+' '+${event.momentOfTheDay}"></h3>
						<p th:text="'Place: '+${event.place} "></p>
						<div class="boutonEventManagement">
							<a class="boutons_ami" onClick="subscribeEvent('+${event.idEvent}+');return false;"
							th:href="'addparticipant?idEvent='+${event.idEvent}">Subscribe to the event</a>
							<a class="boutons_ami" th:href="'event?idEvent='+${event.idEvent}">See more</a>
						</div>

						<div>
							<a class="alignement" onClick="deleteEvent('+${event.idEvent}+');return false;"
							th:href="'deleteEvent?idEvent='+${event.idEvent}"><img id="suppressionAdmin" 
							th:src ="@{/Images/icone_suppression.png}" alt="DeletePower"></a>
							<h3 class="alignement">Delete this post</h3>
						</div>
					</div>
				</div>
			</div>

			<div>
				<h2 th:text="${articleTitle}"></h2>
				<div class="actuality">
					<div class="event" th:each="article : ${articles}">
						<h1 th:text=" 'Title : ' +${article.name}"></h1>
						<h1 class="alignement">Post By : </h1>
						<div class="postBy">
							<img id="littlePicture" th:src ="${article.creatorPicturePath}" alt="Photo de profil" class="alignement">
							<h1 class="alignement" th:text="${article.creatorFirstName}"></h1>
						</div>
						<h1 th:text=" 'At : ' +${article.postDate}"></h1>
						<div>
							<h3 class="alignement">Synopsis : </h3>
							<p class="alignement" th:text="${article.content}"></p>
						</div>
						<div>
							<h3 class="alignement">Link : </h3>
							<p class="alignement"><a th:text="${article.link}" th:href="${article.link}" target="blank"></a></p>
						</div>
						
						<div>
							<a class="alignement" onClick="deleteArticle('+${article.idArticle}+');return false;" 
							th:href="'deleteArticle?idarticle='+${article.idArticle}"><img id="suppressionAdmin"
							th:src ="@{/Images/icone_suppression.png}" alt="DeletePower"></a>
							<h3 class="alignement">Delete this post</h3>
						</div>
					</div>
				</div>
			</div>

			<div>
				<h2 th:text="${performanceTitle}"></h2>
				<div class="actuality">
					<div class="event" th:each="performance : ${performances}">
						<h1 th:text=" 'Realised on ' +${performance.date}">  </h1>
						<p th:text="'During : '+${performance.duration}+'minutes'"></p>
						<p th:text="'Calories : ' +${performance.calories}+ ' cal'"></p>
						<p th:text="'Average : ' +${performance.speed}+ ' mph'"></p>
						<p>More information : </p>
						<div>
							<a class="alignement" onClick="deletePerformance('+${performance.idPerformance}+');return false;"
							th:href="'deletePerformance?idperformance='+${performance.idPerformance}">
							<img id="suppressionAdmin" th:src ="@{/Images/icone_suppression.png}" alt="DeletePower"></a>
							<h3 class="alignement">Delete this post</h3>
						</div>
					</div>
				</div>
			</div>
			
			<div>
				<h2 th:text="${friendPerformanceTitle}"></h2>
				<div class="actuality">
					<div class="event" th:each="friendPerformance : ${friendsPerformances}">
						<img id="littlePicture" th:src ="${friendPerformance.picturePath}" alt="Photo de profil" class="alignement">
						<h1 class="alignement" th:text="${friendPerformance.prenom}+'\'s performance'"></h1>
						<h1 th:text=" 'Realised on ' +${friendPerformance.date}">  </h1>
						<p th:text="'During : '+${friendPerformance.duration}+'minutes'"></p>
						<p th:text="'Calories: ' +${friendPerformance.calories}+ ' cal'"></p>
						<p th:text="'Average: ' +${friendPerformance.speed}+ ' mph'"></p>
						<p>More information : </p>
						<div id="ajout_ami"><a class="boutons_ami" href="addFriend.html">Access to the profil</a></div>
					</div>
				</div>
			</div>

		</section>

		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>