<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
    <title>HomeAdmin</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnectedAdmin('home')}"></header>

		<section>
			<h2>Actuality</h2>

			<div id="menu_home">
				<div class="liens"><a class="boutons_home" href="addevent"><img th:src ="@{/Images/icone_ajout.jpeg}" alt="icone_ajout">Add a new event</a></div>
				<div class="liens"><a class="boutons_home" href="addarticle"><img th:src ="@{/Images/icone_ajout.jpeg}" alt="icone_ajout">Add a new article</a></div>
				<div class="liens"><a class="boutons_home" href="addperformance"><img th:src ="@{/Images/icone_ajout.jpeg}" alt="icone_ajout">Share your performance</a></div>
			</div>
			
			<div>
			<h2 th:text="${eventTitle}"></h2>
			<div class="actuality" th:each="event : ${events}" >
				<table>
					<tr>
						<td class="image_actuality"><img th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></a></td>
						<td>
							<img id="littlePicture" th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil" class="alignement">
							<h1 class="alignement" th:text="${event.userGestionFirstName}"></h1>
							<h1>Event</h1>
							<h3 th:text="'Date: '+${event.dateevent}"></h3>
							<h3 th:text="'Time: '+${event.horaireevent}+' '+${event.momentOfTheDay}"></h3>
							<p th:text="'Place: '+${event.lieuevent} "></p>
							<p>More information : </p>
							<div class="boutonEventManagement">
								<a class="boutons_ami" onClick="subscribeEvent('+${event.idevent}+');return false;"
								th:href="'addparticipant?idevent='+${event.idevent}">Subscribe to the event</a>
								<a class="boutons_ami" href="addFriend.html">See more</a>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a class="alignement" onClick="deleteEvent('+${event.idevent}+');return false;"
							th:href="'deleteeventadmin?idevent='+${event.idevent}"><img id="suppressionAdmin" 
							th:src ="@{/Images/icone_suppression.png}" alt="DeletePower"></a>
							<h3 class="alignement">Delete this post</h3>
						</td>
					</tr>
				</table>
			</div>
			</div>

			<div>
			<h2 th:text="${articleTitle}"></h2>
			<div class="actuality" th:each="article : ${articles}" >
				<table>
					<tr>
						<td class="image_actuality"><img th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"> </td>
						<td>
							<h1 th:text=" 'Title : ' +${article.nomarticle}"></h1>
							<h1 class="alignement">Post By : </h1>
							<div class="postBy">
								<img id="littlePicture" th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil" class="alignement">
								<h1 class="alignement" th:text="${article.creatorFirstName}"></h1>
							</div>
							<h1 th:text=" 'At : ' +${article.dateOfPost}"></h1>
							<div>
								<h3 class="alignement">Synopsis : </h3>
								<p class="alignement" th:text="${article.contenuarticle}"></p>
							</div>
							<div>
								<h3 class="alignement">Link : </h3>
								<p class="alignement"><a th:text="${article.lien}" th:href="${article.lien}" target="blank"></a></p>
							</div>	
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a class="alignement" onClick="deleteArticle('+${article.idarticle}+');return false;" 
							th:href="'deletearticleadmin?idarticle='+${article.idarticle}"><img id="suppressionAdmin"
							th:src ="@{/Images/icone_suppression.png}" alt="DeletePower"></a>
							<h3 class="alignement">Delete this post</h3>
						</td>
					</tr>

				</table>
			</div>
			</div>

			<div>
			<h2 th:text="${performanceTitle}"></h2>
			<div class="actuality" th:each="performance : ${performances}">
				<table>
					<tr>
						<td class="image_actuality"><img th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></td>
						<td>
							<h1>My friend's performance</h1>
							<h1 th:text=" 'At ' +${performance.dateperformance}">  </h1>
							<p th:text="'During : '+${performance.dureeperformance}+'minutes'"></p>
							<p th:text="'Calories : ' +${performance.calories}+ ' cal'"></p>
							<p th:text="'Average : ' +${performance.vitesseperformance}+ ' mph'"></p>
							<p>More information : </p>
							<div id="ajout_ami"><a class="boutons_ami" href="addFriend.html">Access to the profil</a></div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a class="alignement" onClick="deletePerformance('+${article.idarticle}+');return false;"
							th:href="'deleteperformanceadmin?idperformance='+${performance.idperformance}">
							<img id="suppressionAdmin" th:src ="@{/Images/icone_suppression.png}" alt="DeletePower"></a>
							<h3 class="alignement">Delete this post</h3>
						</td>
					</tr>

				</table>
			</div>
			</div>

		</section>

		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>