<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stylesWeJog.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive-500.css"/>
    <meta name="viewport" content="height=device-height"/>
    <title>Home</title>
    
   </head>

	<body>

		<header th:replace="~{fragments :: headerConnected('home')}"></header>

		<section>
			<h2>Actuality</h2>

			<div id="menu_home">
				<div class="liens"><a class="boutons_home" href="addevent"><img src ="Images/icone_ajout.jpeg" alt="icone_ajout">Add a new event</a></div>
				<div class="liens"><a class="boutons_home" href="addarticle"><img src ="Images/icone_ajout.jpeg" alt="icone_ajout">Add a new article</a></div>
				<div class="liens"><a class="boutons_home" href="addperformance"><img src ="Images/icone_ajout.jpeg" alt="icone_ajout">Share your performance</a></div>
			</div>

			<div class="actuality " th:each="article : ${articles}">
				<table>
					<tr>
						<td class="image_actuality"><img src ="Images/PhotoProfil.jpg" alt="Photo de profil"></a></td>
						<td>
							
							<h1 th:text=" 'Title: ' +${article.nomarticle}"></h1>
							
							<p th:text=" 'Synopsis: ' +${article.contenuarticle}"></p>
							<p><a th:href="${article.lien}" target="blank">Test Lien</a></p>
							
						</td>
					</tr>

				</table>
			</div>
	
			
			<div class="actuality" th:each="performance : ${performances}">
				<table>
					<tr>
						<td class="image_actuality"><img src ="Images/PhotoProfil.jpg" alt="Photo de profil"></a></td>
						<td>
							<h1>My friend's performance</h1>
							<h1 th:text=" 'At ' +${performance.dateperformance}">  </h1>
							<p th:text="'At ' +${performance.horaireperformance} +' km'"></p>
							<p th:text="'Calories: ' +${performance.calories}+ ' cal'"></p>
							<p th:text="'Average: ' +${performance.vitesseperformance}+ ' mph'"></p>
							<p>More information : </p>
							<div id="ajout_ami"><a id="bouton_ajout_ami" class="boutons_ami" href="addFriend.html">Access to the profil</a></div>
						</td>
					</tr>

				</table>
			</div>

			<div class="actuality" th:each="event : ${events}" >
				<table>
					<tr>
						<td class="image_actuality"><img src ="Images/PhotoProfil.jpg" alt="Photo de profil"></a></td>
						<td>
							<img id="littlePicture" src="Images/PhotoProfil.jpg" alt="Photo de profil" class="alignement">
							<h1 class="alignement">Mr XX.</h1>
							<h1>Event</h1>
							<h3 th:text="' Date: '+${event.dateevent} " > </h3>
							<p th:text="'Place: '+${event.lieuevent} "></p>
							<p>More information : </p>
							<div id="ajout_ami"><a id="bouton_ajout_ami" class="boutons_ami" href="addFriend.html">Subscribe to the event</a></div>
						</td>
					</tr>

				</table>
			</div>

		</section>

		<footer th:replace="~{fragments :: footer}"></footer>

	</body>

</html>