<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <script type="text/javascript" th:src="@{/js/myEvents.js}"></script>
    <title>My events</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('myEvents')}"></header>

		<section>
			<h2>My event(s)</h2>

			<div>
				<h2 th:text="${eventAdministrator}"></h2>
			
				<div class="actuality">
					<div class="event" th:each="myEvent : ${myEvents}">
						<img id="littlePicture" th:src ="${myEvent.managerPicturePath}" alt="Photo de profil" class="alignement">
						<h1 class="alignement" th:text="${myEvent.managerFirstName}"></h1>
						<h1>Event</h1>
						<h3 th:text="'Date: '+${myEvent.date}"></h3>
						<h3 th:text="'Time: '+${myEvent.timeAsString}+' '+${myEvent.momentOfTheDay}"></h3>
						<p th:text="'Place: '+${myEvent.place} "></p>
						<div class="boutonEventManagement">
							<a class="boutons_ami" href="addFriend.html">Manage the event</a>
							<a class="boutons_ami" href="addFriend.html">See more</a>
						</div>
					</div>
				</div>
			</div>
		
		<div>
			<h2 th:text="${eventRegistered}"></h2>
			
			<div class="actuality">
				<div class="event" th:each="eventSubscribed : ${eventsSubscribed}">
					<img id="littlePicture" th:src ="${eventSubscribed.managerPicturePath}" alt="Photo de profil" class="alignement">
					<h1 class="alignement" th:text="${eventSubscribed.managerFirstName}"></h1>
					<h1>Event</h1>
					<h3 th:text="'Date: '+${eventSubscribed.date}"></h3>
					<h3 th:text="'Time: '+${eventSubscribed.timeAsString}+' '+${eventSubscribed.momentOfTheDay}"></h3>
					<p th:text="'Place: '+${eventSubscribed.place} "></p>
					<div class="boutonEventManagement">
						<a class="boutons_ami" href="addFriend.html">See more</a>
						<a class="boutons_ami" onClick="UnsubscribeEvent('+${eventSubscribed.idEvent}+');return false;"
							th:href="'desinscrireparticipant?idevent='+${eventSubscribed.idEvent}">Unsubscribe</a>
					</div>
				</div>
			</div>
		</div>	

		</section>

		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>