<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <title>News</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('myEvents')}"></header>

		<section>
			<h2>My event(s)</h2>

			<div>
			<h2 th:text="${eventAdministrator}"></h2>
			<div class="actuality" th:each="myevent : ${myevents}" >
				<table>
					<tr>
						<td class="image_actuality"><img th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></a></td>
						<td>
							<img id="littlePicture" th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil" class="alignement">
							<h1 class="alignement" th:text="${myevent.userGestionFirstName}"></h1>
							<h1>Event</h1>
							<h3 th:text="'Date: '+${myevent.dateevent}"></h3>
							<h3 th:text="'Time: '+${myevent.horaireevent}+' '+${myevent.momentOfTheDay}"></h3>
							<p th:text="'Place: '+${myevent.lieuevent} "></p>
							<p>More information : </p>
							<div class="boutonEventManagement">
								<a class="boutons_ami" href="addFriend.html">Manage the event</a>
								<a class="boutons_ami" href="addFriend.html">See more</a>
							</div>
						</td>
					</tr>

				</table>
			</div>
			</div>
		
		<div>
			<h2 th:text="${eventRegistered}"></h2>
		<div class="actuality" th:each="inscritevent : ${inscritevents}"  >
				<table>
					<tr>
						<td class="image_actuality"><img th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></a></td>
						<td>
							<img id="littlePicture" th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil" class="alignement">
							<h1 class="alignement" th:text="${inscritevent.userGestionFirstName}"></h1>
							<h1>Event</h1>
							<h3 th:text="'Date: '+${inscritevent.dateevent}"></h3>
							<h3 th:text="'Time: '+${inscritevent.horaireevent}+' '+${inscritevent.momentOfTheDay}"></h3>
							<p th:text="'Place: '+${inscritevent.lieuevent} "></p>
							<p>More information : </p>
							<div class="boutonEventManagement">
								<a class="boutons_ami" href="addFriend.html">See more</a>
								<a class="boutons_ami" th:href="'desinscrireparticipant?idevent='+${inscritevent.idevent}">unsubscribe</a>
							</div>
						</td>
					</tr>

				</table>
			</div>
			</div>	

		</section>

		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>