<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <script type="text/javascript" th:src="@{/js/javascript.js}"></script>
    <title>My Friends Network</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id ="ajout_performance">
			<h2>My friends Network</h2>

			<div id="ajout_ami"><a class="boutons_ami" href="addFriend"><img th:src ="@{/Images/icone_ajout.jpeg}" 
			alt="icone_ajout">Add a friend</a></div>

			<table class="network" th:each="friend : ${friends}">
		    	<tr>
		    		<td><img id="image_reseau" th:src ="${friend.picturePath}" alt="Photo de profil"></td>
		   		</tr>
		   		<tr><td><h3 th:text="${friend.prenom}+' '+${friend.nom}"></h3></td></tr>
		   		<tr><td><a class="boutons_ami" href="voir_plus"><img th:src ="@{/Images/voir_plus.jpg}" alt="icone_voir_plus">Profile</a>
						<a class="boutons_ami" onClick="deleteFriend('${friend.idusers}');return false;"
						th:href="'deleteami?idusers='+${friend.idusers}"><img th:src ="@{/Images/icone_suppression.png}" 
						alt="icone_suppression">Delete</a>
					</td>
				</tr>
		   	</table>

		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>