<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <title>My Friends Network</title>
    
   </head>

	<body>

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id ="ajout_performance">
			<h2>My friends Network</h2>

			<div id="ajout_ami"><a id="bouton_ajout_ami" class="boutons_ami" href="addFriend"><img th:src ="@{/Images/icone_ajout.jpeg}" alt="icone_ajout">Add a friend</a></div>

			<table class="network">
		    	<tr>
		    		<td><img id="image_reseau" th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></td>
		   		</tr>
		   		<tr><td><h3>Habib BENALLAL</h3></td></tr>
		   		<tr><td><a class="boutons_ami" href="voir_plus"><img th:src ="@{/Images/voir_plus.jpg}" alt="icone_voir_plus">Profile</a>
						<a class="boutons_ami" href="supprimer_ami"><img th:src ="@{/Images/icone_suppression.png}" alt="icone_suppression">Delete</a>
					</td>
				</tr>
		   	</table>

		   	<table class="network">
		    	<tr>
		    		<td><img id="image_reseau" th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></td>
		   		</tr>
		   		<tr><td><h3>Guillaume MINAUD</h3></td></tr>
		   		<tr><td><a class="boutons_ami" href="voir_plus"><img th:src ="@{/Images/voir_plus.jpg}" alt="icone_voir_plus">Profile</a>
						<a class="boutons_ami" href="supprimer_ami"><img th:src ="@{/Images/icone_suppression.png}" alt="icone_suppression">Delete</a>
					</td>
				</tr>
		   	</table>

		   	<table class="network">
		    	<tr>
		    		<td><img id="image_reseau" th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></td>
		   		</tr>
		   		<tr><td><h3>Habib BENALLAL</h3></td></tr>
		   		<tr><td><a class="boutons_ami" href="voir_plus"><img th:src ="@{/Images/voir_plus.jpg}" alt="icone_voir_plus">Profile</a>
						<a class="boutons_ami" href="supprimer_ami"><img th:src ="@{/Images/icone_suppression.png}" alt="icone_suppression">Delete</a>
					</td>
				</tr>
		   	</table>

		</section>


		<footer th:replace="~{fragments :: footer}"></footer>

	</body>

</html>