<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stylesWeJog.css"/>
    
   </head>

	<body>

		<header th:replace="~{fragments :: header}"></header>

		<section>

			<table id="profil">
				<tr>
					<td class="image_profil" colspan="2"><img src ="Images/PhotoProfil.jpg" alt="Photo de profil"></td>
					<td class="description_profil">
						<h1>Mr.XX</h1>
						<h3>Description</h3>
						<p>Test de longueur. ------------------------------------------------------------------------------------------------------------------------------------------------------- Fin du test de longueur</p>
					</td>
				</tr>
				<tr>
					<td class="boutons_profil"><a class="bouton_profil" href="voir_plus">Photo</a></td>
					<td class="boutons_profil"><a class="bouton_profil" href="supprimer_ami">Informations</a></td>
				</tr>
				<tr>
					<td><a class="bouton_profil" href="voir_plus">My Network</a></td>
				</tr>

			</table>

		</section>


		<footer th:replace="~{fragments :: footer}"></footer>

	</body>

</html>