<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <title>Profil</title>
    
   </head>

	<body>

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section>

			<div id="profil">
				<div id="utilisateur">
					<div><img th:src ="@{/Images/PhotoProfil.jpg}" alt="Photo de profil"></div>
					<div class="boutons_profil"><a class="bouton_profil" href="picture">Picture</a></div>
					<div class="boutons_profil"><a class="bouton_profil" href="description">Description</a></div>
					<div><a class="bouton_profil" href="myNetwork">My Network</a></div>
					<div><a class="bouton_profil" href="changePassword">Change my password</a></div>
				</div>	

				<div id="description_profil">
					<h1>Mr.XX</h1>
					<h3>Description</h3>
					<p>Je suis un paragraphe</p>
				</div>
					
			</div>

			<div class="tableaux_performance">
				<div class="tableau_performance_totale">
					<h3>Total distance :</h3>
					<h1>5 KM</h1>
				</div>

				<div class="tableau_performance_totale">
					<h3>Total duration :</h3>
					<h1>00:32:54</h1>
				</div>

				<div class="tableau_performance_totale">
					<h3>Number of races :</h3>
					<h1>1</h1>
				</div>

			</div>

			<div id="menu_home">
				<div>
					<div class="liens"><a class="boutons_performance" href="">Week</a></div>
					<div class="liens"><a class="boutons_performance" href="">Month</a></div>
					<div class="liens"><a class="boutons_performance" href="">Year</a></div>
				</div>
			</div>

			<div class="tableaux_performance">
				<div class="tableau_performance">
					<h3>Fastest :</h3>
					<h1>1 KM</h1>
					<h1>00:03:29</h1>
				</div>

				<div class="tableau_performance">
					<h3>Longuest :</h3>
					<h1>1 KM</h1>
					<h1>01:32:54</h1>
				</div>

				<div class="tableau_performance">
					<h3>IN :</h3>
					<h1>1 KM</h1>
					<h1>01:32:54</h1>
				</div>

				<div class="tableau_performance">
					<h3>IN :</h3>
					<h1>1 KM</h1>
					<h1>01:32:54</h1>
				</div>

				<div class="tableau_performance">
					<h3>IN :</h3>
					<h1>1 KM</h1>
					<h1>01:32:54</h1>
				</div>

				<div class="tableau_performance">
					<h3>IN :</h3>
					<h1>1 KM</h1>
					<h1>01:32:54</h1>
				</div>

			</div>

		</section>

		<footer th:replace="~{fragments :: footer}"></footer>

	</body>

</html>