<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profil.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <title>Profil</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section>

			<div id="profil">
				<div id="utilisateur">
					<div><img th:src ="${member.picturePath}" alt="Photo de profil"></div>
					<div class="boutons_profil"><a class="bouton_profil" href="picture">Picture</a></div>
					<div class="boutons_profil"><a class="bouton_profil" href="description">Description</a></div>
					<div><a class="bouton_profil" href="myNetwork">My Network</a></div>
					<div><a class="bouton_profil" href="changePassword">Change my password</a></div>
				    <div><a class="bouton_profil" href="AskingToBeFriend">Invitation(s) to be friend ([[${numberAsking}]])</a></div>
				</div>	

				<div id="description_profil">
					<h1 th:text="${member.prenom}+' '+${member.nom}"></h1>
					<h3>Description</h3>
					<p th:text="${member.description}"></p>
				</div>
					
			</div>

			<div class="tableaux_performance">
				<div class="tableau_performance_totale">
					<h3>Total distance :</h3>
					<h1>[[${TotalDistance}]] KM</h1>
				</div>

				<div class="tableau_performance_totale">
					<h3>Total duration :</h3>
					<h1>[[${TotalTime}]] Min</h1>
				</div>

				<div class="tableau_performance_totale">
					<h3>Number of races :</h3>
					<h1>[[${TotalRace}]]</h1>
				</div>

			</div>

			<div id="menu_home">
				<div>
					<div class="liens"><a class="boutons_performance" href="profil">Week</a></div>
					<div class="liens"><a class="boutons_performance" href="profilmonth">Month</a></div>
					<div class="liens"><a class="boutons_performance" href="profilyear">Year</a></div>
				</div>
			</div>
			
			<h2 th:text="${performanceSelected}"></h2>

			<div class="tableaux_performance">
				<div class="tableau_performance">
					<h3>Fastest :</h3>
					<h1>[[${fastestdistance}]] </h1>
					<h1>[[${fastestduration}]] </h1>
				</div>

				<div class="tableau_performance">
					<h3>Longuest :</h3>
					<h1>[[${longuestdistance}]] </h1>
					<h1>[[${longuestduration}]] </h1>
				</div>

				<div class="tableau_performance">
					<h3>IN :</h3>
					<h1>1 Km</h1>
					<h1>[[${Week1KM}]]</h1>
				</div>

				<div class="tableau_performance">
				    <h3>IN :</h3>
					<h1>5 Km</h1>
					<h1>[[${Week5KM}]]</h1>
				</div>

				<div class="tableau_performance">
					<h3>IN :</h3>
					<h1>10 Km</h1>
					<h1>[[${Week10KM}]]</h1>
				</div>

				<div class="tableau_performance">
					<h3>IN :</h3>
					<h1>42 Km</h1>
					<h1>[[${Week42KM}]]</h1>
				</div>

			</div>

		</section>

		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>