<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stylesWeJog.css"/>
    <link rel="stylesheet" type="text/css" href="css/RecoveryPassword.css"/>
    <title>Recovery Password Confirmation</title>
    
   </head>

	<body>

		<header th:replace="~{fragments :: headerNotConnected}"></header>

		<section class="recovery">
			<h1>The password recovery's link has been sent to your email</h1>
			<p>Please follow the instructions</p>
			<a id="back_home" href="back_home">Back Home</a>
		</section>


		<footer th:replace="~{fragments :: footer}"></footer>

	</body>

</html>