<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stylesWeJog.css"/>
    <link rel="stylesheet" type="text/css" href="css/RecoveryPassword.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive-500.css"/>
    <meta name="viewport" content="height=device-height"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Recovery Password</title>
    
   </head>

	<body>

		<header th:replace="~{fragments :: headerNotConnected}"></header>

		<section class="recovery">
			<h1>Recovery of your password</h1>
			<p>You will receive a new password by mail, please follow the instructions</p>
			
			<form action="" method="POST">
		   		<div class="alignement">
		    		<input type="email" name="email" id="email" placeholder="Enter your email" required >
		    	</div>
		    	<div class="alignement">
		    	
		   		<input type="submit" id="submit" value="Submit">
		   		</div>
		   		
		   		<div id="recaptchaCenter" class="g-recaptcha" data-sitekey="6Lf3GxcUAAAAAGkMnn-EfWO_RYssbBk4KrtKj3fg"></div>
		   		
			</form>
		</section>


		<footer th:replace="~{fragments :: footer(contact)}"></footer>

	</body>

</html>