<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
  
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-951-1140.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-771-950.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-630-769.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-501-629.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
    <script type="text/javascript" th:src="@{/js/updateEvent.js}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
    <script>
 	$(function() {
	    $( "#datepicker" ).datepicker({
	        dateFormat: 'yy-mm-dd',
	        minDate : "dateToday",
	    });	    
 	} );
	</script>
    <title>Update Event</title>
    
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section id ="ajout_performance">
			<h2>Add an Event</h2>

			<form method="POST" id="formulaire_performance" th:each="updateEvent : ${event}">

			<div>
		    	<h3>Date</h3>
		   		<input type="text" id="datepicker" name ="date_performance" class="donnees" th:value="${updateEvent.date}" required />
		   	</div>
		   	
		   	<div>
		    	<h3 class="alignement">Time</h3>
		    	<select name = "hour"  id="hour" class="alignement">
		    		<option th:value ="${updateEvent.hourAsString}">[[${updateEvent.hourAsString}]] (Original)</option>
		    		<option value = "01">01</option>
		    		<option value = "02">02</option>
		    		<option value = "03">03</option>
					<option value = "04">04</option>
					<option value = "05">05</option>
					<option value = "06">06</option>
					<option value = "07">07</option>
					<option value = "08">08</option>
					<option value = "09">09</option>
					<option value = "10">10</option>
					<option value = "11">11</option>
					<option value = "12">12</option>		
		    	</select>
		    	<h3 id="hourLetter" class="alignement">H</h3>
		    	<select name = "minutes"  id="minutes" class="alignement">
		    		<option th:value ="${updateEvent.minutesAsString}">[[${updateEvent.minutesAsString}]] (Original)</option>	
		    		<option value = "00">00</option>
		    		<option value = "05">05</option>
		    		<option value = "10">10</option>
					<option value = "15">15</option>
					<option value = "20">20</option>
					<option value = "25">25</option>
					<option value = "30">30</option>
					<option value = "35">35</option>
					<option value = "40">40</option>
					<option value = "45">45</option>
					<option value = "50">50</option>
					<option value = "55">55</option>		
		    	</select>
		    	<div id="sex" class="alignement">
		    		<div th:replace="~{fragments :: momentOfTheDay+${updateEvent.momentOfTheDay}}" >
		   			</div>
		   		</div>
			</div>
			
			<div id="coordonnees">
				<h3 >Original address</h3>
				<input type="text/plain" id="place" name="place" class="donnees" th:value="${updateEvent.place}" required />
				<h3 >Lat</h3>
				<input type="text/plain" id="lat" name="latitude" class="donnees" th:value="${updateEvent.latitude}" required />
				<h3 >Long</h3>
				<input type="text/plain" id="long" name="longitude" class="donnees" th:value="${updateEvent.longitude}" required />
			</div>

		    <div>
		    	<h3 class="alignement">Change Address</h3>
		    	<p class="alignement">(Please enter the address of your event in the Google Map Search Box right below if you change to change it)</p>
		    	<input id="pac-input" name="adress" class="controls" type="text" placeholder="Search Box" th:value="${updateEvent.place}">
   				<div id="map"></div>
    			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQUj2STKgnMqwvPsl04D1gENvCY2xW41c&libraries=places&callback=initAutocomplete"
        		async defer></script>
		    </div>

		    <div>
		    	<h3>Duration</h3>
		    	<input type="number" id="duration" name="duration" class="donnees" placeholder="Please enter the duration in minutes" 
		    	th:value="${updateEvent.duration}" required />
		    </div>

		    <div>
		    	<h3>Distance of the route</h3>
		    	<input type="number" id="distance" name="distance" class="donnees" placeholder="Please enter the distance in miles" 
		    	th:value="${updateEvent.distance}" required />
		    </div>
		    
		    <div>
		    	<h3>More informations about your event</h3>
		    	<textarea class="donnees" name="details" maxlength="500" placeholder="Add details here (500 carac max)" th:text="${updateEvent.details}"></textarea>
		    </div>
		    
		    <div id="boutonValidation">
		   		<input type="submit" id="validation" value="Post your event" onClick='return validEvent(this.form.reponse);'/>
		   	</div>
		    
		</form>
		
			
		   	
		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>