<html>
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/stylesWeJog.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive-500.css"/>
    <meta name="viewport" content="height=device-height"/>
   </head>

	<body>

		<header th:replace="~{fragments :: headerConnected('valueWithoutImportance')}"></header>

		<section>

			<table id="userList">
				<tr>
					<th>Picture</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Delete</th>
				</tr>
				<tr>
					<td class="userPicture"><img src ="Images/PhotoProfil.jpg" alt="Photo de profil"></td>
					<td>MINAUD</td>
					<td>Guillaume</td>
					<td><a class="alignement" href="connexion.html"><img id="suppressionAdmin" src ="Images/icone_suppression.png" alt="DeletePower"></a></td>
				</tr>

			</table>

		</section>


		<footer th:replace="~{fragments :: footer}"></footer>

	</body>

</html>