<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesWeJog.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive-500.css}"/>
    <meta name="viewport" content="height=device-height"/>
	<script type="text/javascript" th:src="@{/js/javascript.js}"></script>
   </head>

	<body th:each="member : ${User}">

		<header th:replace="~{fragments :: headerConnectedAdmin('UsersList')}"></header>

		<section>

			<table id="userList">
				<tr>
					<th>Picture</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Delete</th>
				</tr>
				<tr th:each="user : ${users}" >
					<td class="userPicture"  ><img th:src ="${user.picturePath}" alt="Photo de profil"></td>
					<td>[[${user.nom}]]</td>
					<td>[[${user.prenom}]]</td>
					<td><a class="alignement" onClick="suppressionusers('+${user.idusers}+');return false;" th:href="'deleteuser?idusers='+${user.idusers}"><img id="suppressionAdmin" th:src ="@{/Images/icone_suppression.png}" alt="DeletePower"></a></td>
				</tr>

			</table>

		</section>


		<footer th:replace="~{fragments :: footer(contactUser)}"></footer>

	</body>

</html>