@media screen and (min-width: 769px) and (max-width: 951px)
{

#menu_home{
	margin-left: 10%;
	margin-right: 10%;
}		
	
	
.actuality{
	margin-left: 10%;
	margin-right: 10%;
}

	
#connexionCompte {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}


#sectionCreationCompte {
	height: 100%;
}


#logo{
	width: 25%;
}


nav{
    width: 42%;
}


#creationCompte{
    margin-left: 15%;
    margin-right: 15%;
}

}