@media screen and (min-width: 629px) and (max-width: 769px)
{
	
#connexionCompte {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}


#sectionCreationCompte {
	height: 70%;
}


#logo{
	width: 25%;
}


nav{
    width: 35%;
    margin-left: 7%;
}


#creationCompte{
    margin-left: 9%;
    margin-right: 9%;
}


}