@media screen and (min-width: 769px) and (max-width: 950px)
{
	
#connexionCompte {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}


#sectionCreationCompte {
	height: 70%;
}


#logo{
	width: 25%;
}


nav{
    width: 45%;
}


#creationCompte{
    margin-left: 15%;
    margin-right: 15%;
}

}