@media screen and (min-width: 629px) and (max-width: 769px)
{

#menu_home{
	margin-left: 10%;
	margin-right: 10%;
}	
	
	
.event{
	display: block;
	width: 100%;
}

	
#connexionCompte {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}


#sectionCreationCompte {
	height: 100%;
}


#logo{
	width: 25%;
}


nav{
    width: 35%;
}


#creationCompte{
    margin-left: 9%;
    margin-right: 9%;
}


}