@media screen and (min-width: 501px) and (max-width: 629px)
{

#logo{
	width: 25%;
}

nav{
    display: block;
    width: 100%;
    
}


#creationCompte{
    margin-left: 0;
    margin-right: 0;
}

}