@media screen and (max-width: 500px)
{

/* Page Home, Header et Footer */

#logo{
	width: 100%;
	display: block;
}


#logo img{
	display: block;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}


#informations{
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	text-align: center;
}


nav{
	text-align: center;
}


nav li{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


nav li.active {
	padding:0;
	width:70%;
}
	
nav input{
	width: 100%;
}


#search{
	width: 98%;
}


#boutonSearch{
	margin-top: 10px;
	width: 95%;
}


#menu_home{
	margin-right: 0;
	margin-left: 0;
}


.liens{
	display: block;
	width: 100%;
}


.actuality{
	margin-left: 0;
    margin-right: 0;
}


#Contact_Us{
	display: none;
}


footer{
	position: relative;
}


#footer{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


#footer a{
	width: 30%;
	text-align: center;
}


#facebook{
	margin-left: 0;
}


/* Page ajout evenement, article, performance */

#ajout_performance{
	margin-left: 0;
	margin-right: 0;
}


#validation{
	width: 100%;
	margin-left: 0;
}


#boutonValidation{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}


/* Page profil */

#profil{
	margin-left:0;
	margin-right: 0;
}


#utilisateur {
	display: block;
	width: 100%;
}


#description_profil{
	width: 100%;
}


.tableaux_performance {
	margin-left: 0;
	margin-right: 0;
}


.tableau_performance_totale {
	display: block;
	width: 100%;
	margin-top: 5px;
}


.tableau_performance {
	display: block;
	width: 100%;
	margin-top: 5px;
}

/* Page myNetwork */

#ajout_ami {
	padding: 0;
}


.network {
	display: block;
	width: 100%;
}


/* Page ajout ami */

#liste_utilisateurs {
	margin-top: 0px;
}


#email {
	width: 100%;
	margin-bottom: 10px;
}


#friendFound {
	padding-bottom: 30px;
}


/* Page connexion et register */

#not_connected {
	float: none;
	margin-left: auto;
	margin-right: auto;
}


.bouton_Non_Connecte {
	margin-top: 0;
}


form#connexionCompte label {
	display: block;
	width: 100%;
	text-align: center;
}


#sectionConnexionCompte{
	height: auto;
}


#sectionCreationCompte {
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}


#connexionCompte {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}


#creationCompte {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}


form#creationCompte input{
	width: 90%;
}


label {
	display: block;
	width: 100%;
	text-align: center;
}


div#sex input{
	width: 20%;
}



}